.center {
  text-align: center;
}

.clickable {
  opacity: 0.6;
}

.clickable:hover {
  opacity: 1;
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.fully-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}